apiVersion: v1
kind: Service
metadata:
  name: smarttech-backend
  namespace: smarttech
  labels:
    app: smarttech-backend
spec:
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: smarttech-backend
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

